---

name: ci

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      shouldPublishImage:
        description: 'Should publish image to Ansible Galaxy? (yes/no)'
        required: false
        default: 'no'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          set -eux
          make install-all-deps

      - name: Run linting tasks
        run: make lint

  integration:
    name: Integration.
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-12

    steps:
      - name: Check out the codebase
        uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install test dependencies
        run: |
          set -eux
          make install-all-deps

      - name: Test the playbook
        run: make test
        env:
          ANSIBLE_FORCE_COLOR: '1'
          ANSIBLE_STDOUT_CALLBACK: 'unixy'

      - name: Idempotence check
        run: |
          idempotence=$(mktemp)
          cd tests && poetry run ansible-playbook test.yml | tee -a ${idempotence}
          tail ${idempotence} \
            | grep -q 'changed=0.*failed=0' \
            && (echo 'Idempotence test: pass' && exit 0) \
            || (echo 'Idempotence test: fail' && exit 1)
        env:
          ANSIBLE_FORCE_COLOR: '1'
          ANSIBLE_STDOUT_CALLBACK: 'unixy'

  publish:
    if: github.event.inputs.shouldPublishImage == 'yes' || github.ref == 'refs/heads/master'
    needs:
      - lint
      - integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Publish to Ansible Galaxy
        uses: lotyp/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.GALAXY_API_KEY }}
